.anchor-bg{
    -fx-background-color:linear-gradient(from 25%25% to 100% 100%,#1a154e,#085A89);
}

.bottom-panel{
    -fx-background-color:linear-gradient(from 25%25% to 100% 100%,#184062,#1d1c71);
}

.Menu-bar-background{
    -fx-background-color :#0780a4;
    -fx-background-radius: 0 30 30 0;
}

.transparent{
    -fx-background-color:rgba(0,0,0,0);
}

.search-background{
    -fx-background-color :#787a8F;
    -fx-background-radius: 50;
}

.play{
    -fx-border-color:#0780a4;
    -fx-border-radius:15;
    -fx-border-width:3;
}

.playlist{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 15;
    -fx-border-width: 3;
    -fx-padding: 10;

}

.playlist:hover {
    fx-background-color: #2f343c; /* Background color on hover */
    -fx-border-color: #0780a4; /* Border color on hover */
}

.slider{
    -fx-control-inner-background : #28cd41;
    -fx-shadow-highlight-color: #28cd41;
}